
.white {
  color: #f7f1e3;
}

.sky {
  color: #34ace0;
}

.selestial {
  color: #33d9b2;
}

.palmsprings {
  color: #218c74;
}

.devilblue {
  color: #227093;
}

.hotstone {
  color: #aaa69d;
}

.crocodile {
  color: #d1ccc0;
}

.greyporcelain {
  color: #84817a;
}

.alameda {
  color: #cc8e35;
}

.mandarin {
  color: #ffb142;
}

.spiced {
  color: #ffda79;
}

.desert {
  color: #ccae62;
}

.chilean {
  color: #cd6133;
}

.pumpkin {
  color: #ff793f;
}

.florescant {
  color: #ff5252;
}

.eyeofnewt {
  color: #b33939;
}

.luckypoint {
  color: #2c2c54;
}

.jacksons {
  color: #40407a;
}

.liberty {
  color: #474787;
}

.purple {
  color: #706fd3;
}
