.main {
  display: flex;
  justify-content: center;
}

.position {
  margin: 2px;
  padding-right: 20px;
}

.position:nth-child(1) {
  border-right: 1px solid black;
}

.cg-wrap coords {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.ground {
  margin: 20px auto;
}

.controls {
  display: flex;
  justify-content: center;
}

.moves {
  user-select: none;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.move {
  padding: 10px;
}

.weight {
  margin-left: 10px;
}

.weight.collapsed {
  display: none;
}

.weight > div > span {
  cursor: pointer;
  margin: 2px;
}
