.cg-wrap coords {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.ground {
  margin: auto;
}

.moves {
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.move {
  padding: 10px;
}

.weight {
  margin-left: 10px;
}

.weight > div > span {
  cursor: pointer;
  margin: 2px;
}
